* { margin: 0; padding: 0; border: 0; }
html { overflow-y: auto; -webkit-font-smoothing: antialiased; }
body { color: #333; font: 14px/20px Arial; vertical-align: top; -webkit-text-size-adjust: none; min-width: 1000px; background: none repeat scroll 0 0 #F6F5F3; }

html, body {  height:  100%; }
.page-wrapper {  min-height:    100%;  margin-bottom: -40px;}
* html .page-wrapper {  height: 100%;}
.page-buffer {  height: 115px;}

h1, h2, h3, h4, h5, fieldset { font-weight: normal; color: #000; }
ul, li { list-style-type: none; }
*:focus { outline: 0 !important; }
a { text-decoration: none; color: #666699; font-size: 13px; }
a:hover { text-decoration: none; color: #f12c25; }
a img { border: 0; }
a span { cursor: pointer; }
strong { font-weight: bold; }
table { border-collapse: collapse; }
td { vertical-align: top; }
a, input, textarea { outline: 0 !important; }
fieldset { border: 0; }
select, textarea { overflow-x: hidden; overflow-y: auto; }
textarea { resize: none; }
input[type="text"] { padding: 0; }
select, input, textarea, button { margin: 0; padding: 0; }
input[type="button"], input[type="submit"], input[type="reset"], button { cursor: pointer; }
button { width: auto; overflow: visible; }
.placeholder { color: inherit; }
/*textarea::-webkit-input-placeholder { color: inherit; }
textarea:-moz-placeholder { color: inherit; }
textarea:-ms-input-placeholder { color: inherit; }
input::-webkit-input-placeholder { color: inherit; }
input:-moz-placeholder { color: inherit; }
input:-ms-input-placeholder { color: inherit; }
input::-moz-focus-inner {  border: 0;  padding: 0;}*/
.no_select { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.clear { display: block; height: 0; overflow: hidden; clear: both; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }

/* styles */
.content { margin: 0 auto; width: 710px; }

h1 { font: 28px/30px tbn; }
h2 { font: 24px/29px tbn; padding: 32px 0 13px; }

span.rur { font-family: "als_rublregular"; }
span.rur span { position: absolute; overflow: hidden; width: .45em; height: 1em; margin: .1ex 0 0 -.55em; / / display : none; }
span.rur span:before { content: '\2013'; }

header { padding: 33px 0; }
header .logo { float: right; height: 70px; width: 100px; }
header .logo img {width: 100%;max-height: 70px;}
header h1 { display: inline-block; margin: 38px 0 0; }

.fields .item { position: relative; }
.fields .item .error_msg { display: none; background: rgba(255, 100, 100, 0.9); font-size: 13px; font-family: Arial; padding: 8px; position: absolute; top: 100%; box-sizing: border-box; color: #fff; margin: 11px 0 0; white-space: nowrap; z-index: 10; }
.fields .item .error_msg:before { content: ''; border-color: transparent transparent rgba(255, 100, 100, 0.9) transparent; border-style: solid; border-width: 7px; left: 7px; position: absolute; top: -14px; }
.fields .item.error .error_msg { display: block; }
.large_img { margin: 20px 0 29px; font-size: 1px; line-height: 1px; }
.large_img img { max-width: 100%; max-height: 500px; }
.line { background: rgba(0, 0, 0, 0.15); clear: both; height: 1px; }

.amount { background: rgba(114, 179, 106, 0.85); height: 70px; margin: 2px 0 0 0; }
.amount .content { }
.amount input.value { color: #000; font-size: 15px; height: 30px; margin: 20px 0 0 0; font-family: Arial; padding: 0 14px; width: 117px; }
.amount input.value::-webkit-input-placeholder { color: #b5b5b5; }
.amount input.value::-moz-placeholder { color: #b5b5b5; }
.amount input.value:-moz-placeholder { color: #b5b5b5; }
.amount input.value:-ms-input-placeholder { color: #b5b5b5; }
.amount p.rouble_sign { color: #fff; display: inline-block; font-size: 19px; font-weight: bold; margin: 24px 0 0 5px; vertical-align: top; }
.amount p.rouble_sign span.rur { }
.amount p.rouble_sign span.rur span { }
.amount select.times { vertical-align: top; width: auto; padding: 5px 13px; height: 30px; border-radius: 2px; font-size: 15px; font-family: Arial; }
.amount select.times option { padding: 5px 8px; }
.amount .times_box { display: inline-block; position: relative; vertical-align: top; margin: 20px 0 0 38px; }
.amount .times_box.monthly .tooltip { display: block; }
.amount .times_box .tooltip { display: none; color: #fff; position: absolute; left: 100%; top: 0; width: 450px; margin: 0 0 0 10px; }
.amount .times_box span { background: rgba(50, 50, 50, 0.8); display: inline-block; left: 0; top: 0; font-size: 13px; line-height: 14px; padding: 9px 13px; position: relative; }
.amount .times_box span:before { left: -16px; top: 9px; border-color: transparent rgba(50, 50, 50, 0.8) transparent transparent; border-style: solid; border-width: 8px; content: ''; position: absolute; }
.amount .fields { }
.amount .fields .item { float: left; }

.user_form { margin: 22px -8px 0; }
.user_form .fields { margin: 0 0 19px 0; }
.user_form .item { float: left; margin: 0 7px; }
.user_form .item input { display: block; border: 1px solid #c4c4c2; height: 30px; margin: 4px 0 0 0; width: 325px; padding: 0 10px; font-size: 14px; }
.user_form .item textarea { display: block; border: 1px solid #c4c4c2; margin: 4px 0 0 0; width: 325px; padding: 10px; height: 80px; font-size: 15px; font-family: Arial; }
.user_form .item textarea::-webkit-input-placeholder {color:#b5b5b5; }
.user_form .item textarea::-moz-placeholder          {color:#b5b5b5;}
.user_form .item textarea:-moz-placeholder           {color:#b5b5b5;}
.user_form .item textarea:-ms-input-placeholder      {color:#b5b5b5;}
.user_form .item.boolean { margin: 29px 8px 0; }
.user_form .item.boolean input { display: inline-block; height: auto; width: auto; vertical-align: top; margin: 4px 2px 0 0; }
.user_form .item label { color: #605d5d; font-size: 14px; }

.add_comment_box { margin: 0 0 22px 8px; }
#remove_comment { display: none }

.payment_options { margin: 3px -8px 7px; }
.payment_options.has_value .over { display: block; }
.payment_options .over { position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 10; background: #fff; display: none; opacity: 0.7; }
.payment_options .item { position: relative; float: left; margin: 0 8px 16px; }
.payment_options .item label { background: #fff; box-shadow: 0 0 2px 1px #C4C4C2; display: block; height: 65px; width: 346px; float: left; position: relative; cursor: pointer; }
.payment_options input:checked + .item label { background: #ffeba0; }
.payment_options .item p { color: #000; font-size: 15px; padding: 12px 0 0 64px; }
.payment_options .item span { color: #605d5d; font-size: 13px; padding: 0 0 0 64px; }
.payment_options .item:hover .over { display: none; }
.payment_options input { display: none; }
.payment_options.fixed_options .item:hover .over { display: block; }
.payment_options input:checked + .item .over { display: none; }
.payment_options.fixed_options input:checked + .item .over { display: none; }

.payment_options .item i { height: 36px; left: 14px; position: absolute; top: 14px; width: 36px; background: url("../img/payment_icons.png") 0 0 no-repeat; }
.payment_options .item i.yd { background-position: 0 -144px; }
.payment_options .item i.nalik { background-position: 0 -36px; }
.payment_options .item i.bc { background-position: 0 -108px; }
.payment_options .item i.wm { background-position: 0 0; }
.payment_options .item i.mobile { background-position: 0 -72px; }

.btn { border-radius: 4px; color: #000; display: inline-block; height: 45px; padding: 0 24px; font: 18px/44px tbn; }
.btn.yellow { background: #fce055; border-bottom: 1px solid #c79b47; }

.make_donation { margin: 20px 0 0 0; }
.make_donation .tip{display: inline-block; margin: 0 0 0 20px;}
.make_donation .tip a {font-size: 14px;}
.make_donation .monthly_type_icon { display: inline-block; margin: 8px 0 0 10px; vertical-align: top; }

footer { background: #d8d8d8; height: 40px; padding: 0px 20px; }
footer .share { line-height: 40px; }
footer .share a { margin-left: 5px; width: 18px; height: 18px; background: url("../img/soc_icons.png") 0 0 no-repeat; display: inline-block; vertical-align: middle; }
footer .share a.vk { background-position: 0 0; }
footer .share a.twit { background-position: 0 -18px; }
footer .share a.fb { background-position: 0 -36px; }
footer .share span { color: #000; font-size: 14px; opacity: 0.70; padding: 0 5px 0 0; }

.text-box { border: 1px solid #e7e6e4; background-color: #ffffff; margin: 30px 0 0; padding: 10px 63px 16px 15px; color: #333333; font-size: 15px; min-height: 59px; font-family: Arial; }
.text-box h3 { font-size: 18px; margin: 0 0 9px 0; font-family: tbn; }
.text-box.oksign { background: url('../img/oksign.png') top right no-repeat #ffffff; padding-top: 21px; padding-bottom: 13px; }
.text-box .btn { border-radius: 4px; color: #000; display: inline-block; height: 34px; padding: 0 15px; font-family: Arial; font-size: 15px; line-height: 20px; background: #ffffff; border: 1px solid #c0bfc0; }
.text-box .btn.yellow { background: #fce055; border: 1px solid #ccad33; margin-right: 5px; margin-left: 1px; margin-top: 13px; }