<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% if is_granted("ROLE_ADMIN") %}
    {{ include ('VmesteSaasBundle:Administrator:mainMenu.html.twig') }}
{% elseif is_granted("ROLE_USER") %}
    {{ include ('VmesteSaasBundle:Customer:mainMenu.html.twig') }}
{% endif %}

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
