{% extends 'base.html.twig' %}

{% block body %}

    <h2>Create user</h2>
    <span class="label label-important">Все поля обязательны для заполнения</span>
    <br>
    <br>
    {{ form(form) }}

{% endblock %}
