/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/bin/*
/composer.phar
/.idea/
/vendor/*
parameters.yml
config.yml
app/config/parameters.yml
app/config/config.yml
