<ul>
    <li><a href="{{ path('customer_home') }}">Home</a></li>
    <li><a href="{{ path('customer_campaign') }}">Campaigns</a></li>
    <li><a href="#">Transactions</a></li>
    <li><a href="{{ path('customer_settings') }}">Settings</a></li>
    <li><a href="{{ path('logout') }}">Logout</a></li>
</ul>