{% extends 'base.html.twig' %}

{% block body %}

    {% if error %}
        <div>{{ error }}</div>
    {% elseif success %}
        <div>{{ success }}</div>
    {% endif %}

    <a href="{{ path('vmeste_saas') }}">Back</a>

    <form action="{{ path('forgot_pass') }}" method="post">
        <label for="email">Please enter your email:</label>
        <input type="text" id="email" name="email" placeholder="youremail@somwhere.com"/>
        <button type="submit">Submit</button>
    </form>



{% endblock %}