{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('vmeste_saas') }}">Back</a>

    {% for error in errors %}
        <div>{{ error }}</div>
    {% endfor %}

    {% if not hideForm %}
        <form action="{{ path('recover_pass') }}" method="post">
            <label for="password">Please, enter your new password:</label>
            <input type="text" id="password" name="password"/>
            <label for="password_repeat">Repeat your password again:</label>
            <input type="text" id="password_repeat" name="password_repeat"/>
            <input type="hidden" name="token" value="{{ token }}">
            <button type="submit">Submit</button>
        </form>
    {% endif %}

{% endblock %}