<ul>
    <li><a href="{{ path('admin_home') }}">Home</a></li>
    <li><a href="{{ path('admin_user') }}">Users</a></li>
    <li><a href="#">Campaigns</a></li>
    <li><a href="{{ path('logout') }}">Logout</a></li>
</ul>