@font-face {
  font-family: tbn;
  src: url('../fonts/tbn55.eot');
  src: url('../fonts/tbn55.eot') format('embedded-opentype'),
  url('../fonts/tbn55.woff') format('woff'),
  url('../fonts/tbn55.ttf') format('truetype'),
  url('../fonts/tbn55.svg#TextbookNewRegular') format('svg');
}


@font-face {
  font-family: tbn;
  src: url('../fonts/tbn75.eot');
  src: url('../fonts/tbn75.eot') format('embedded-opentype'),
  url('../fonts/tbn75.woff') format('woff'),
  url('../fonts/tbn75.ttf') format('truetype'),
  url('../fonts/tbn75.svg#TextbookNewBold') format('svg');
  font-weight: bold;
}





