# Use the front controller as index file. It serves as a fallback solution when
# every other rewrite/redirect fails (e.g. in an aliased environment without
# mod_rewrite). Additionally, this reduces the matching process for the
# start page (path "/") because otherwise Apache will apply the rewriting rules
# to each configured DirectoryIndex file (e.g. index.php, index.html, index.pl).
<IfModule dir_module>
	DirectoryIndex app_dev.php
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

RewriteCond %{REQUEST_URI} ^/kassa/$ [NC]
RewriteRule .? %{ENV:BASE}/kassa/index.php [L]

#RedirectMatch 403 /soberem/\..*$
#RewriteCond %{REQUEST_URI} ^/soberem/$ [NC]
#RewriteRule .? %{ENV:BASE}/soberem/index.php [L]

#RewriteCond %{REQUEST_URI} ^/na/(.*)$ [NC]
#RewriteRule . %{ENV:BASE}/soberem/index.php [L]
 
#RewriteCond %{REQUEST_URI} ^/na/$ [NC]
#RewriteRule .? %{ENV:BASE}/soberem/ [L]

    RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
    RewriteRule ^(.*) - [E=BASE:%1]

    RewriteCond %{ENV:REDIRECT_STATUS} ^$
    RewriteRule ^app\.php(/(.*)|$) %{ENV:BASE}/$2 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule .? - [L]

    RewriteRule .? %{ENV:BASE}/app_dev.php [L]



</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        # When mod_rewrite is not available, we instruct a temporary redirect of
        # the start page to the front controller explicitly so that the website
        # and the generated links can still be used.
        RedirectMatch 302 ^/$ /app_dev.php/
        # RedirectTemp cannot be used instead
    </IfModule>
</IfModule>
